<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is the home page 1 +2</h1>
    <!-- <%=  %>  iska use karke hum basic js run kar sakte hai ye tag o/p ko string me convert karta hai-->
    <!-- <h3><%= 1+2 %></h3>  // iska o/p html string aayega -->

    <!-- <h3><%= "apna college".toUpperCase() %></h3>  -->
    <h3><%= ['hello','bonjour','namaste'][2]  %></h3> 

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas inventore optio, mollitia qui corrupti exercitationem rem blanditiis saepe recusandae fugit eius atque libero voluptate laudantium ducimus! Vel, praesentium quos quae voluptatibus commodi nisi ipsa ea molestiae, quia aspernatur ipsam animi aliquid fugiat, similique explicabo ducimus?
    </p>
    <button>click me</button>
</body>
</html>


<!-- js ke  expressions ko ejs ke andar embedd karsna usko interpolation syntax kahate hai ex of tag:- (<%= %>)    -->